<div class="card card-container">
  <img id="profile-img" class="profile-img img-circle" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">
    <p id="profile-name" class="profile-name-card"></p>
    <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
        <br>
        <br>
        <%= f.label :email %>
        <br>
        <%= f.email_field :email %>
        <br>
        <br>
        <%= f.label :password %>
        <br>
        <%= f.password_field :password %>
        <br>
        <br>
        <%= f.submit "Log in",class:'btn btn-default btn-block' %>
        <br>
      <% end %>
</div>