<div class="flex-container">
  <div class="row">
    <%= form_with(model: @post, local:true, url: choose_new_or_edit ) do |form| %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <%= form.label :title %>
        <%= form.text_field :title %>
      <br>
        <%= form.label :content %>
        <%= form.text_field :content %>
      <br>
        <%= form.label :image %>
        <%= form.file_field  :image %>
        <%= form.hidden_field :image_cache %>
      <br>
      <%= form.submit %>
    <% end %>
  </div>
</div>

