<div class="flex-container">
  <header class="header"><strong>Post Confirm</strong></header>
  <div class = "row">
    <div class="main_left col-md-6">
      <p class = "title_index">
      <storng>IgClone</strong>
      </P>
    </div>
    <div class="main_right  col-md-6">
      <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
        <%= form.hidden_field :title %>
        <%= form.hidden_field :content %>
        <%= form.hidden_field  :image_cache %>

        <strong><p>Title:<%= @post.title %></p></strong>
        <strong><p>Content:<%= @post.content %></p></strong>
        <br>
        <br>
        <strong><p>Image:<%= image_tag @post.image.url if @post.image && @post.image.url  %></p></strong>
        <%= form.submit  "Submit" %>
        <%= form.submit "Back", name: 'back' %>
      <% end %>
    </div>
  </div>
</div>
