<div class="containerr">
  <div class="flex-container">
    <header class="headerr"><strong>Post info</strong></header>
  </div>
  <div class="main">
    <ul class = "row">
      <% @posts.each do |post| %>
        <li class = "col-md-3">
          <P>thumbnail</P>
          <%= image_tag post.user.image.url, class: "small-img" if post.user.image && post.user.image.url  %>
        </li>
        <li class = "col-md-3">
          <p>name</p>
          <%= post.user.name %>
          <p>title</p>
          <%= post.title %>
          <P>content</p>
          <%= post.content %>
        </li>
        <li class = "col-md-3">
        <P>image</p>
          <%= image_tag post.image.url if post.image && post.image.url  %>
        </li>
        <li class = "col-md-3">
        <P>function</P>
          <%= link_to 'show',post_path(post.id)%>
          <br>
          <%= link_to 'edit',edit_post_path(post.id)%>
          <br>
          <%= link_to "delete", post_path(post.id),method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</div>