<div class="flex-container">
  <header class="header"><strong>Post Show</strong></header>
  <div class = "row">
    <div class="main_left col-md-6">
      <p class = "title_index">
        <storng>IgClone</strong>
      </P>
    </div>
    <div class="main_right col-md-6">
      <P>
        <strong>thumbnail:</strong>
        <%= image_tag @user.image.url,class: "small-img" %>
      </P>
      <P>
        <strong>Name:</strong>
        <%= @user.name %>
      </P>
      <P>
        <strong>Title:</strong>
        <%= @post.title %>
      </P>
      <P>
        <strong>Content:</strong>
        <%= @post.content %>
      </P>
      <p>
        <strong>Image:</strong>
        <%= image_tag @post.image.url if @post.image && @post.image.url %>
      </p>
      <% unless @post.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'Delete', favorite_path(id: @favorite.id), method: :delete %>
        <% else %>
          <%= link_to 'Like', favorites_path(post_id: @post.id), method: :post  %>
        <% end %>
      <% end %>
      <%= link_to 'Back', posts_path %>
    </div>
  </div>
</div>
