<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbarEexample1">
			<ul class="nav navbar-nav">
				<% if logged_in? %>
					<li><%= link_to 'Logout',session_path(current_user.id),method: :delete,class:'btn btn-default btn-block' %></li>
					<li><%= link_to 'My Profile',user_path(current_user.id),class:'btn btn-default btn-block' %></li>
					<li><%= link_to 'Users Info.',users_path,class:'btn btn-default btn-block'  %></li>
					<li><%= link_to 'post index',posts_path,class:'btn btn-default btn-block'  %></li>
				<% else %>
					<li><%= link_to 'Sign up',new_user_path,class:'btn btn-default btn-block'%></li>
					<li><%= link_to 'Login',new_session_path,class:'btn btn-default btn-block' %></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>